
.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px; 
}
.service-title{
  position: relative;
  margin-top: 80px

}
.service-title h1{
  padding: 0px 30px;
  font-size: 40px;
  font-weight:300
}

.service-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.services-format{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}
.services-container{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}
.services-format h3{
  font-size: 25px;
  font-weight: 200;
}
.services-format h2{
  font-size: 38px;
  font-weight: 400;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-format p{
  color: aliceblue;
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;
}

.services-readmore{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;

}

.services-format:hover{
  border: 2px solid #ff00ff;
  transform: scale(1.05);
  transition: 0.45s ;

}
